network:
  ethernets:
    eth0:
      dhcp4: no
      addresses:
      - {{ ip4_address }} 
      routes:
      - to: default
        via: {{ ip4_default_gateway }}
      nameservers:
        addresses:
        - {{ ip4_dns }}
        search:
        - {{ search_domain }}
  version: 2