#cloud-config
autoinstall:
  version: 1
  locale: {{ os_locale }}
  keyboard:
    layout: {{ keyboard_layout }}
    variant: {{ keyboard_variant }}
  network:
    network:
      version: 2
      ethernets:
        eth0:
          dhcp4: no
          addresses: [{{ ip4_address }}]
          routes:
          - to: default
            via: {{ ip4_default_gateway }}
          nameservers:
            addresses: [{{ ip4_dns }}]
            search: [{{ search_domain }}]
  user-data:
    hostname: {{ vm_host_name }}
    users:
    - name: {{ vm_user_name }}
      passwd: {{ vm_user_password }}
      shell: /bin/bash
      lock-passwd: false
      groups: [adm, cdrom, dip, plugdev, lxd, sudo]
      ssh_authorized_keys:
        - {{ vm_ssh_key }}
  ssh:
    install-server: yes
    authorized-keys:
      - {{ vm_ssh_key }}
    allow-pw: yes
  late-commands:
    - echo '{{ vm_user_name }} ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/ubuntu # Allow user to run sudo without password