apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
    podSubnet: "{{ pod_subnet }}" 
controlPlaneEndpoint: "{{ kubernetes_cluster_entry_name }}.{{ search_domain }}:6443" 
clusterName: "{{ kube_context }}"